$widthChannels: 153px;
$topChannels: 35px;
$heightRow: 90px;
$icons-size: 25px;
$color-ball-size: 15px;

.mini-epg.epg-container.closed{
    display: none;
}
.show-mini-epg{

  .color-codes {
    position: absolute;
    width: 98%;
    bottom: 140px;
    z-index: 10;
    
    .color-code-item span {
      height: $color-ball-size;
      width: $color-ball-size;
      vertical-align: middle;
    }
  }

  .mini-epg{
    &.epg-container {
      background: transparent;
      right: 0;
      top: 0; 
      width: 100%;
      height: 100%;
      z-index: 10;
      padding-top: 0;
      position: relative;
      
      .epg-schedule{
        visibility: hidden;
        margin-bottom: 5px;
      }

      .mini-epg-header {
        position: absolute;
      }
      .mini-epg-header-title {
        font-size: 30px;
        >img {
          width: 113px;
          height: 64px;
          margin-left: 5px;
          vertical-align: middle;
        }
      }
      .color-ball {
        width: $color-ball-size;
        height: $color-ball-size;
        border-radius: 100px;
        display: inline-block;
      }
      .mini-epg-header-data {
        .color-ball.yellow {
          background-color: #F8E71C;
          position: absolute;
          top: 108px;
          left: 6px;
        }
        .epg-event-item-title {
          white-space: normal;
          width: 290px;
          height: 70px;
        }
      }
      .mini-epg-header-data>div {
        position: relative;
        left: 50px;
        top: -40px;
        font-size: 22px;
      }
      #btn-hide {
        font-size: 30px;
        padding: 4px;
        box-sizing: border-box;
      }
      #btn-hide:focus {
        border-radius: 20px;
        box-shadow: 0 0 0 3px #fff inset;
        outline: 0;
      }
      .epg-wrapper {
        position: relative;
        height: 110px;
        margin-left: 0;
        margin-right: 0;
        top: -20px;
      }
      .epg-main {
        overflow-x: hidden;
        height: $heightRow + $topChannels;
        background: transparent!important;
      }
      .epg-events-container {
        margin-left: $widthChannels;
        height: $heightRow;
        width: calc(100% - 153px);
      }
      .epg-events-row {
        height: 100%;
      }
      .epg-channels-container {
        height: $heightRow;
        overflow-y: hidden;
        position: absolute;
        top: $topChannels;
        left: 0px;
      }
      .btn-indicador {
        position: absolute;
        font-size: $icons-size;
      }
      #btn-up {
        @extend .btn-indicador;
        left: 64px;
        top: 5px;
      }
      #btn-left {
        @extend .btn-indicador;
        left: -35px;
        top: 57.5px;
      }
      #btn-right {
        @extend .btn-indicador;
        right: -35px;
        top: 57.5px;
      }
      #btn-down {
        @extend #btn-up;
        top: 125px;
      }
      .epg-channel-item-image-container {
        height: 100%;

        .epg-channel-item-id {
          text-align: center;
          vertical-align: middle;
          font-size: 14px;
        }

        .epg-channel-item-image {
          width: 85px;
          height: auto!important;
        }
      }
    }
  }
}