.root-hisense .invisible-scrollbar, .root-nagra .invisible-scrollbar, .root-samsung .invisible-scrollbar, .root-sony .invisible-scrollbar, .root-opera .invisible-scrollbar, .root-android .invisible-scrollbar, .root-worksation .invisible-scrollbar, .root-tizen .invisible-scrollbar, .root-web0s .invisible-scrollbar, .root-ps4 .invisible-scrollbar {
  overflow: hidden; }

.root-lg .invisible-scrollbar {
  overflow: scroll; }
  .root-lg .invisible-scrollbar::-webkit-scrollbar {
    display: none; }

.root-hisense .invisible-scrollbar, .root-nagra .invisible-scrollbar, .root-samsung .invisible-scrollbar, .root-sony .invisible-scrollbar, .root-android .invisible-scrollbar, .root-worksation .invisible-scrollbar, .root-tizen .invisible-scrollbar, .root-web0s .invisible-scrollbar, .root-ps4 .invisible-scrollbar {
  overflow: hidden; }

.root-lg .invisible-scrollbar, .root-opera .invisible-scrollbar {
  overflow: scroll; }
  .root-lg .invisible-scrollbar::-webkit-scrollbar, .root-opera .invisible-scrollbar::-webkit-scrollbar {
    display: none; }

/* FlexBox Variables */
.flex {
  display: flex; }
  .flex.row {
    flex-direction: row; }
  .flex.column {
    flex-direction: column; }
  .flex.jc-center {
    justify-content: center; }
  .flex.ai-center {
    align-items: center; }
  .flex.ai-start {
    align-items: flex-start; }
  .flex.ai-end {
    align-items: flex-end; }

.fa.fa-bars {
  font-size: 25px; }

.header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 5; }
  .header .btn-config {
    float: right;
    border-radius: 50%;
    width: 24px; }

.header-container {
  width: 100%; }

.transitionMenuHeader {
  -webkit-transition: all 0.5s;
  /* Safari */
  transition: all 0.5s; }

.header-logo {
  position: fixed;
  top: 10px;
  left: 10px; }

.clock {
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  width: 65%; }

.header-top {
  width: 100%;
  padding: 15px 0 0 0; }

.header-right {
  text-align: right;
  width: 18%;
  min-height: 47px; }
  .header-right .header-right-icons {
    width: auto;
    height: auto;
    border-radius: 50%;
    margin-right: 22px; }
    .header-right .header-right-icons.active .icon {
      background-color: #e1251b; }
    .header-right .header-right-icons:last-child {
      margin-right: 0; }
    .header-right .header-right-icons .icon {
      display: inline-block;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      background-position: center;
      background-size: 85%;
      background-repeat: no-repeat; }
      .header-right .header-right-icons .icon.icon-search {
        background-image: url("../../assets/icons/search.png"); }
      .header-right .header-right-icons .icon.icon-profile {
        background-image: url("../../assets/icons/profile.png"); }
      .header-right .header-right-icons .icon.icon-setting {
        background-image: url("../../assets/icons/settings.png"); }
      .header-right .header-right-icons .icon.focusable:focus, .header-right .header-right-icons .icon.focusable:hover {
        background-color: #47536b;
        box-shadow: none; }
  .header-right .fa-search {
    font-size: 23px; }
  .header-right .fa-cog {
    font-size: 23px; }
  .header-right > * {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 6px; }
  .header-right > *:focus {
    box-shadow: 0 0 0 3px #fff inset;
    outline: 0;
    border-radius: 0px; }

.nav-container {
  text-align: center;
  width: 100%;
  font-size: 18px; }
  .nav-container .focusable:hover, .nav-container .focusable:focus {
    box-shadow: none !important;
    border-radius: 0; }
  .nav-container.top {
    display: none;
    width: 67%;
    white-space: nowrap; }
    .nav-container.top .focusable.active.active {
      background-color: transparent;
      font-weight: 700; }
      .nav-container.top .focusable.active.active:hover, .nav-container.top .focusable.active.active:focus {
        background-color: #47536b; }
  .nav-container.down {
    height: auto; }
  .nav-container .nav {
    list-style: none;
    margin: 0;
    padding: 6px 0;
    overflow: hidden; }
    .nav-container .nav li {
      display: flex;
      width: 100%; }
      .nav-container .nav li.clase-vcard-active {
        background-color: #e1251b;
        font-weight: 500 !important; }
      .nav-container .nav li .nav-item {
        width: 100%;
        color: #fff;
        padding: 5px;
        text-decoration: none;
        text-align: left;
        align-items: center;
        display: flex;
        font-weight: 100 !important; }
        .nav-container .nav li .nav-item.active {
          background-color: #e1251b;
          font-weight: 500 !important; }
          .nav-container .nav li .nav-item.active .nav-image {
            opacity: 1; }
        .nav-container .nav li .nav-item .nav-image {
          opacity: 0.5;
          height: 23px;
          position: relative;
          top: 2px; }
      .nav-container .nav li .nav-item:focus,
      .nav-container .nav li .nav-item.on-focus {
        border-radius: 0px;
        background-color: #47536b;
        outline: 0;
        font-weight: 500 !important; }
        .nav-container .nav li .nav-item:focus .nav-image,
        .nav-container .nav li .nav-item.on-focus .nav-image {
          opacity: 1; }
      .nav-container .nav li .nav-item:hover {
        border-radius: 0px;
        /*  -webkit-box-shadow: 0 0 0 3px #fff inset;
        -moz-box-shadow: 0 0 0 3px #fff inset;
        box-shadow: 0 0 0 3px #f`ff inset;
        outline: 0;
      */ }
        .nav-container .nav li .nav-item:hover .nav-image {
          opacity: 1; }
    .nav-container .nav li#47337_1 {
      display: none !important; }

.header-avatar {
  width: 40px;
  height: 40px;
  float: right;
  position: relative;
  border-radius: 50%;
  right: 5px;
  margin-top: -10px; }

.header-badge {
  width: 15px;
  height: 15px;
  background: #25a4da;
  position: absolute;
  top: 12px;
  right: -4px;
  border-radius: 50%;
  padding: 5px;
  font-size: 14px; }

.header-configsession {
  width: 40px;
  height: 40px;
  float: right;
  position: relative;
  border-radius: 50%;
  right: 5px;
  margin-top: -10px; }

.header-down {
  width: 100%;
  height: auto; }
  .header-down .nav-container {
    max-width: 240px; }
    .header-down .nav-container .nav {
      display: flex;
      flex-direction: column;
      max-width: 240px;
      overflow-x: hidden; }
      .header-down .nav-container .nav li {
        overflow: hidden;
        margin: 15px 0;
        min-height: 50px;
        /*         &:last-child{
          position: absolute;
          bottom: 10px;
        } */ }
        .header-down .nav-container .nav li a {
          padding: 10px; }
          .header-down .nav-container .nav li a .icon_nav {
            width: 25px !important;
            margin: 1px;
            position: absolute; }

.transparent-nav {
  background: black !important; }
