.root-hisense .invisible-scrollbar, .root-nagra .invisible-scrollbar, .root-samsung .invisible-scrollbar, .root-sony .invisible-scrollbar, .root-opera .invisible-scrollbar, .root-android .invisible-scrollbar, .root-worksation .invisible-scrollbar, .root-tizen .invisible-scrollbar, .root-web0s .invisible-scrollbar, .root-ps4 .invisible-scrollbar {
  overflow: hidden; }

.root-lg .invisible-scrollbar {
  overflow: scroll; }
  .root-lg .invisible-scrollbar::-webkit-scrollbar {
    display: none; }

.root-hisense .invisible-scrollbar, .root-nagra .invisible-scrollbar, .root-samsung .invisible-scrollbar, .root-sony .invisible-scrollbar, .root-android .invisible-scrollbar, .root-worksation .invisible-scrollbar, .root-tizen .invisible-scrollbar, .root-web0s .invisible-scrollbar, .root-ps4 .invisible-scrollbar {
  overflow: hidden; }

.root-lg .invisible-scrollbar, .root-opera .invisible-scrollbar {
  overflow: scroll; }
  .root-lg .invisible-scrollbar::-webkit-scrollbar, .root-opera .invisible-scrollbar::-webkit-scrollbar {
    display: none; }

/* FlexBox Variables */
.flex {
  display: flex; }
  .flex.row {
    flex-direction: row; }
  .flex.column {
    flex-direction: column; }
  .flex.jc-center {
    justify-content: center; }
  .flex.ai-center {
    align-items: center; }
  .flex.ai-start {
    align-items: flex-start; }
  .flex.ai-end {
    align-items: flex-end; }

.keyboard {
  height: auto;
  width: calc(1280px - 160px);
  padding-left: 80px;
  padding-right: 80px; }

.keyboard-row {
  overflow: hidden;
  width: 100%; }
  .keyboard-row.number {
    display: flex;
    justify-content: center; }
    .keyboard-row.number .keyboard-letter {
      border-radius: 50%;
      height: 52px;
      margin: 3px;
      padding: 15px;
      line-height: 20px;
      width: calc(100% / 5);
      max-width: 53px; }

.keyboard-row-header {
  display: none; }

.keyboard-row-domains {
  display: none; }

.keyboard-layouts,
.keyboard-layouts-first,
.keyboard-layouts-last,
.keyboard-domains,
.keyboard-empty {
  border: 1px solid #fff;
  padding: 12px 32px;
  font-weight: 100;
  width: calc(100% / 5); }
  .keyboard-layouts:focus, .keyboard-layouts:hover,
  .keyboard-layouts-first:focus,
  .keyboard-layouts-first:hover,
  .keyboard-layouts-last:focus,
  .keyboard-layouts-last:hover,
  .keyboard-domains:focus,
  .keyboard-domains:hover,
  .keyboard-empty:focus,
  .keyboard-empty:hover {
    font-weight: 900; }

.keyboard-layouts-first {
  border-radius: 22px 0 0 22px;
  border-right: none; }

.keyboard-layouts-last {
  border-left: none;
  border-radius: 0 22px 22px 0; }

.keyboard-domains,
.keyboard-empty {
  border: none;
  margin: 5px 0;
  padding: 10px; }

.keyboard-row-footer .keyboard-empty {
  border-radius: 6px;
  width: auto;
  padding: 8px 10px;
  font-weight: 300; }
  .keyboard-row-footer .keyboard-empty.focusable:focus {
    font-weight: 900; }
  .keyboard-row-footer .keyboard-empty.btn-espaco {
    min-width: 260px;
    background: #272E35;
    margin-left: 10px;
    margin-right: 10px; }
  .keyboard-row-footer .keyboard-empty.btn-upper {
    padding: 0 10px; }
  .keyboard-row-footer .keyboard-empty.especial {
    min-width: 60px; }
  .keyboard-row-footer .keyboard-empty.borrar {
    padding: 8px 0; }

.keyboard-empty.upper {
  text-transform: uppercase; }

.keyboard-image {
  display: block;
  height: 19px;
  padding: 5px 0;
  margin: auto;
  width: auto; }

.keyboard-image-2 {
  display: block;
  height: 35px;
  padding: 5px 0;
  margin: auto;
  width: auto; }

.keyboard-letter {
  border-radius: 50%;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  margin: 5px 0px;
  width: calc(100% / 11);
  max-width: 52px; }
  .keyboard-letter:focus {
    font-weight: 900; }

.keyboard-header-horizontal {
  padding-left: 90px; }
  .keyboard-header-horizontal .keyboard-letter {
    font-weight: 100;
    border-radius: none;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    width: calc(100% / 3);
    max-width: 230px; }
