.margin-bottom {
    &--10 {
        margin-bottom: 10px;
    }

    &--20 {
        margin-bottom: 20px;
    }
}

.form-group__tab_email {
    padding: 10px 16px !important;

    &-fa {
        font-size: 27px;
    }
}

.float {
    &--right {
        float: right;
        margin: 0 !important;
    }
}

.title_yellow {
    color: #ECAF2A
}

.form-group {
    &__container {
        height: 563px;
        margin-left: 5%;
        position: relative;
        width: 85%;
    }

    &__input-password {
        float: left;
        width: 80%;
    }

    &__register-telcel {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    &__title {
        font-size: 22px;

        &.bold {
            font-size: 22px;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &__space-between {
        position: absolute;
        top: -40px;
    }

    &__button-show-password {
        color: #fff;
        position: absolute;
        right: 0;
        font-size: 20px;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1px 4px;
        width: 18%;
    
        &:focus {
          padding: 1px 4px;
          text-align: center;
        //   color: #ECAF2A;
        }
    
        &.active {
        //   color: #ECAF2A;
        }
    }
}

.form-group__input-tab-sesion {
    display: none;
    padding-bottom: 12%;
    width: 100%;

    .tablinks {
      background-color: inherit;
      float: left;
      border: 1px solid #fff;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      text-align: center;
      transition: 0.3s;
      width: 43.5%;
    }

    .tablinks--asset {
        padding: 0.5% 16px;
        img {          
          max-height: 40px;
        }
    } 

    .once {
        background-color: inherit !important;
        color: #fefefe !important;
        border-radius: 25px !important;
        width: 100%;
        .tablinks--asset {
            padding: 0.5% 0;
        }
        a{
            border-radius: 25px !important;
            width: 100%;
        }
    }

    .first{
      border-radius: 25px 0 0 25px;
    }

    .seconds{
      border-radius: 0 25px 25px 0;
    }

    .center {
        border-radius: 0 !important;
    }

    .third_tab {

        float: left;
        width: 33% !important;
        a{
            width: 82% !important;
            padding-top: 6px;
            padding-bottom: 6px;
        }
        .seconds{
            border-radius: 0 !important;
        }
        .third{
            border-radius: 0 25px 25px 0;
        }
        .tablinks{
            img{
                max-height: 33px !important;
            }
        }
    }

    a.active {
      color: #212121;
      background-color: #fefefe;
      border: 1px solid #fefefe;
    }
  }
