.root-hisense .invisible-scrollbar, .root-nagra .invisible-scrollbar, .root-samsung .invisible-scrollbar, .root-sony .invisible-scrollbar, .root-opera .invisible-scrollbar, .root-android .invisible-scrollbar, .root-worksation .invisible-scrollbar, .root-tizen .invisible-scrollbar, .root-web0s .invisible-scrollbar, .root-ps4 .invisible-scrollbar {
  overflow: hidden; }

.root-lg .invisible-scrollbar {
  overflow: scroll; }
  .root-lg .invisible-scrollbar::-webkit-scrollbar {
    display: none; }

.root-hisense .invisible-scrollbar, .root-nagra .invisible-scrollbar, .root-samsung .invisible-scrollbar, .root-sony .invisible-scrollbar, .root-android .invisible-scrollbar, .root-worksation .invisible-scrollbar, .root-tizen .invisible-scrollbar, .root-web0s .invisible-scrollbar, .root-ps4 .invisible-scrollbar {
  overflow: hidden; }

.root-lg .invisible-scrollbar, .root-opera .invisible-scrollbar {
  overflow: scroll; }
  .root-lg .invisible-scrollbar::-webkit-scrollbar, .root-opera .invisible-scrollbar::-webkit-scrollbar {
    display: none; }

/* FlexBox Variables */
.flex {
  display: flex; }
  .flex.row {
    flex-direction: row; }
  .flex.column {
    flex-direction: column; }
  .flex.jc-center {
    justify-content: center; }
  .flex.ai-center {
    align-items: center; }
  .flex.ai-start {
    align-items: flex-start; }
  .flex.ai-end {
    align-items: flex-end; }

.margin-bottom--10 {
  margin-bottom: 10px; }

.margin-bottom--20 {
  margin-bottom: 20px; }

.form-group__tab_email {
  padding: 10px 16px !important; }
  .form-group__tab_email-fa {
    font-size: 27px; }

.float--right {
  float: right;
  margin: 0 !important; }

.title_yellow {
  color: #ECAF2A; }

.form-group__container {
  height: 563px;
  margin-left: 5%;
  position: relative;
  width: 85%; }

.form-group__input-password {
  float: left;
  width: 80%; }

.form-group__register-telcel {
  bottom: 0;
  position: absolute;
  width: 100%; }

.form-group__title {
  font-size: 22px; }
  .form-group__title.bold {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold; }

.form-group__space-between {
  position: absolute;
  top: -40px; }

.form-group__button-show-password {
  color: #fff;
  position: absolute;
  right: 0;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1px 4px;
  width: 18%; }
  .form-group__button-show-password:focus {
    padding: 1px 4px;
    text-align: center; }

.form-group__input-tab-sesion {
  display: none;
  padding-bottom: 12%;
  width: 100%; }
  .form-group__input-tab-sesion .tablinks {
    background-color: inherit;
    float: left;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    transition: 0.3s;
    width: 43.5%; }
  .form-group__input-tab-sesion .tablinks--asset {
    padding: 0.5% 16px; }
    .form-group__input-tab-sesion .tablinks--asset img {
      max-height: 40px; }
  .form-group__input-tab-sesion .once {
    background-color: inherit !important;
    color: #fefefe !important;
    border-radius: 25px !important;
    width: 100%; }
    .form-group__input-tab-sesion .once .tablinks--asset {
      padding: 0.5% 0; }
    .form-group__input-tab-sesion .once a {
      border-radius: 25px !important;
      width: 100%; }
  .form-group__input-tab-sesion .first {
    border-radius: 25px 0 0 25px; }
  .form-group__input-tab-sesion .seconds {
    border-radius: 0 25px 25px 0; }
  .form-group__input-tab-sesion .center {
    border-radius: 0 !important; }
  .form-group__input-tab-sesion .third_tab {
    float: left;
    width: 33% !important; }
    .form-group__input-tab-sesion .third_tab a {
      width: 82% !important;
      padding-top: 6px;
      padding-bottom: 6px; }
    .form-group__input-tab-sesion .third_tab .seconds {
      border-radius: 0 !important; }
    .form-group__input-tab-sesion .third_tab .third {
      border-radius: 0 25px 25px 0; }
    .form-group__input-tab-sesion .third_tab .tablinks img {
      max-height: 33px !important; }
  .form-group__input-tab-sesion a.active {
    color: #212121;
    background-color: #fefefe;
    border: 1px solid #fefefe; }

.login > * {
  margin-bottom: 25px !important; }

.login .password-reminder {
  text-decoration: none;
  float: right;
  color: white;
  padding: 10px;
  margin: 0px !important; }

.login .btn-vendor {
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 100px;
  height: 45px;
  display: block; }
  .login .btn-vendor .btn {
    display: inline-block;
    width: 50%;
    height: 100%;
    background: transparent;
    color: white;
    border: none;
    padding: 0px;
    margin: 0px; }
    .login .btn-vendor .btn img {
      padding: 0px;
      margin: 0px;
      vertical-align: middle;
      position: relative;
      left: 60px;
      top: 10px; }
  .login .btn-vendor .btn.btn-selected {
    background: #fff;
    color: #010001; }
  .login .btn-vendor .btn.btn-selected:nth-child(1), .login .btn-vendor .btn:nth-child(1):focus {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; }
  .login .btn-vendor .btn.btn-selected:nth-child(2), .login .btn-vendor .btn:nth-child(2):focus {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; }

.login .btn-vendor.net .btn {
  width: 33.33%; }

.login .btn-vendor.net .btn.btn-selected:nth-child(2), .login .btn-vendor.net .btn:nth-child(2):focus {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; }

.login .btn-vendor.net .btn.btn-selected:nth-child(3), .login .btn-vendor.net .btn:nth-child(3):focus {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; }

.login .btn-group {
  clear: both;
  text-align: center; }
  .login .btn-group .btn:nth-child(1) {
    margin-right: 50px; }

.login .captcha {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0px 10px; }
  .login .captcha > span {
    display: block;
    margin-left: 10px;
    margin-bottom: 15px; }
  .login .captcha > div {
    display: inline-block;
    width: 50%;
    margin-right: 15px; }
  .login .captcha > .refresh-btn {
    color: #FFF;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    font-size: 30px;
    top: -10px;
    text-decoration: none; }

.login .netMessage {
  width: 100%;
  display: inline-block; }
  .login .netMessage .net_client {
    display: block;
    width: 275px;
    float: left; }
  .login .netMessage .focusable.action.btn {
    display: block;
    width: 275px;
    float: right;
    text-align: center;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.25); }
  .login .netMessage .focusable.action.btn.checked {
    background-color: #FFFFFF;
    color: #000000; }
