.modal-container-mrc p,
.modal-container-mrc .asset-remote-control {
  margin-right: 23px; }

.modal-container-mrc div {
  display: inline-block; }

.modal-container-mrc .asset-remote-control {
  background: #111;
  border-radius: 40px;
  height: 270px;
  width: 140px; }

.modal-container-mrc .modal-container-title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 54px; }
