.modal-container.termAndCond .modal-title {
  display: none;
  visibility: hidden; }

.modal-container.termAndCond .modal-content * {
  padding: 0px; }

.modal-container.termAndCond .modal-content {
  position: relative;
  top: 40px;
  text-align: center;
  height: 400px;
  overflow: hidden; }
  .modal-container.termAndCond .modal-content p {
    width: 1000px;
    display: inline-block;
    color: #cecece;
    margin-top: 0px; }
    .modal-container.termAndCond .modal-content p div {
      text-align: left;
      width: 100%; }
      .modal-container.termAndCond .modal-content p div h2 {
        margin-bottom: -10px;
        color: #ffffff; }
    .modal-container.termAndCond .modal-content p div.cuerpo * {
      font-size: 15px; }

.modal-container.termAndCond .modal-children .arrows {
  font-size: 50px;
  padding-top: 50px; }
  .modal-container.termAndCond .modal-children .arrows a.focusable:hover, .modal-container.termAndCond .modal-children .arrows a.focusable:focus {
    /*box-shadow: none;*/ }
    .modal-container.termAndCond .modal-children .arrows a.focusable:hover .fa, .modal-container.termAndCond .modal-children .arrows a.focusable:focus .fa {
      color: #ffffff; }
  .modal-container.termAndCond .modal-children .arrows a.activated .fa {
    color: #ffffff; }
  .modal-container.termAndCond .modal-children .arrows .fa {
    color: #808080; }
  .modal-container.termAndCond .modal-children .arrows .input-up {
    position: absolute;
    top: 25px; }

.modal-container.termAndCond .modal-buttons-horizontal {
  padding-top: 40px; }
